/* Flex container to ensure content grows and pagination sticks to the bottom */
.image-gallery-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto; /* Allow content to scroll if it's too large */
  padding-bottom: 60px; /* Ensure space for the fixed pagination */
}

.pagination-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image-gallery {
  overflow: scroll;
  height: 90vh;
}